@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
  }
  h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: inherit;
  }
}

@layer components {
  .secondary-font {
    font-family: 'Poppins', sans-serif;
  }
}

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
